<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	
	<div class="container">
		<h2>Usuarios</h2>
		<form class="navbar-form" action="/user/list">
			<div class="form-group">
				<input name="searchText" type="text" class="form-control" size="50"
					placeholder="Buscar por nombre o apellido del alumno">
			</div>
			<button type="submit" class="btn btn-default">Buscar</button>
		</form>
		<p>Los usuarios que actualmente figuran en el sistema son los
			siguientes:</p>
		<div th:replace="fragments/usuarios" />
	</div>
	<footer th:replace="fragments/pagination" />
	<footer th:replace="fragments/footer" />
</body>
</html>
